<%= form_for (@product) do |f| %>
<% if @product.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@product.errors.count, "error") %> prohibited this post from being saved:</h2>

    <ul>
    <% @product.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div class="field_name">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field_price">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="field_description">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field_inventory">
    <%= f.label :inventory %>
    <%= f.text_field :inventory %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
