<%= form_for(@product) do |f| %>
  <div class="field">
    <%= f.label :name  %>
    <%= f.text_field :name %>
  </div>
  <br>
  <div class="field">
    <%= f.label :inventory  %>
    <%= f.number_field :inventory %>
  </div>
  <br>
  <div class="field">
    <%= f.label :price  %>
    <%= f.number_field :price %>
  </div>
  <br>
  <div class="field">
    <%= f.label :description  %>
    <%= f.text_area :description %>
  </div>
  <br>
  <%= f.submit %>
<% end %>
