<%= form_for @product do |f| %>
  <p>Name: <%= f.text_field :name %></p>
  <p>Description: <%= f.text_field :description %></p>
  <p>Price: <%= f.text_field :price %></p>
  <p>Inventory Count: <%= f.text_field :inventory %></p>
  <%= f.submit %>
<% end %>
