<h2><%= product.name %></h2>
<div id="description-<%=product.id%>"><%= truncate product.description %></div>
<strong id="inventory-<%=product.id%>"> </strong>
<button class="js-more" data-id="<%=product.id%>">More Info</button>