<h2><%= product.id %>: <%= product.name %></h2>
<h5><%= product.price %></h5>

<div id="body-<%= product.id %>"><%= truncate product.description %></div>
<div id="inventory-<%= product.id %>"></div>
<button class="js-more" data-id="<%= product.id %>">More Info ...</button>
