<h2><%= product.name %></h2>

<div id="desc-<%= product.id %>" >
  <%= truncate(product.description) %>
</div>
<br>
<div id="status-<%= product.id %>" >
</div>
<br>
<button class="js-moreInfo", data-id="<%= product.id %>", data-description="<%= product.description %>">More Info</button>
<br>
<br>
