<li>
    <%=product.name%><br>
    <div id="description-body-<%=product.id %>"><%= truncate product.description %></div></br>
    <div id="inventory-body-<%=product.id %>"></div>
    <button class="js-more" data-id="<%=product.id%>">More Info</button>
</li>

