<h3><%=product.name%> </h3>
<div id="body-<%= product.id %>"><p><%= truncate product.description%></p></div>
<button class="js-more" data-id="<%= product.id %>">More Info</button>
<button class="js-more" data-id="<%= product.id %>">Check Inventory</button>
