<tr>
  <td><%= product.id %></td>
  <td><%= product.name %></td>
  <td><%= product.price %></td>
  <td><button class="js-more" data-id="<%= product.id %>">More Info</button></td>
  <td><%= product.inventory %></td>
  <td><%= truncate product.description %></td>
</tr>
