<h1><%= product.name %>: $ <%= product.price %> </h1>
<div id="product-<%= product.id %>"><%= truncate product.description %></div>
<button class="js-more" data-id="<%= product.id %>">More Info</button>
