<h2><%= product.name%></h2>
<p id="description-<%=product.id%>"><%= truncate product.description %>
<button class="js-more" data-id="<%= product.id%>">More Info</button></p>
<span id="span-<%=product.id%>"></span>
