<h1><%= product.id %>: <%= product.name %></h1>
<div id="body-<%= product.id %>"><%= truncate(product.description) %></div>
<button class="js-more" data-id="<%=product.id%>" id="More Info">More Info</button>
