<li>
  <div><strong>Name:</strong> <%= product.name %></div>
  <div id="description-<%=product.id%>"><strong>Description:</strong> <%= truncate product.description %></div>
  <div id="inventory-<%=product.id%>"></div>
  <button class="js-more" data-id="<%=product.id%>">More ...</button>
</li>
