<div id="product-<%= product.id %>">
  <h2><%= product.name %></h2>
  <p><%= truncate product.description %></p>
<br>
<button class="js-more", data-id="<%= product.id %>", data-description="<%= product.description %>">More Info</button>
</div>
<br>
<br>
<br>
