<h3><%= product.name %> is <%= product.price %></h3>
<div>
<p id="desc-<%= product.id %>"><%= truncate product.description %></p>
<p id="inv-<%= product.id %>"></p>
<button class="js-more" data-id="<%= product.id %>">More Info</button>
</div>
