<h3><%= product.id%>:<%=product.name %> </h3>
<div id= "description-<%=product.id%>"><%= truncate product.description %></div>
<div id="inventory-<%=product.id%>"></div>
<button class="js-more" data-id="<%= product.id %>">More Info...</button>
