<h1><%= product.id %>: <%= product.name %></h1>

<div id="description-<%= product.id %>"><%= truncate product.description %></div>

<div id="inventory-<%= product.id %>"><%= product.availablility %></div>

<button class="js-more" data-id="<%= product.id %>">More Info...</button>
