<h2><%= product.id %>: <%= product.name %></h2>
<div id="body-<%= product.id %>"><%= truncate product.description %></div><br>
<div id="inventory-<%= product.id %>"></div><br>

<button class="js-more" data-id="<%= product.id %>">More Info</button>
