<h1><%= product.id %>: <%= product.name %></h1>
<div id="body-<%= product.id %>">
  <p><%= truncate product.description %></p>
</div>

<button class="js-more" data-id="<%= product.id %>">More Info</button>
