<% @products.each do |product| %>
  <div id="product-<%= product.id %>">
    <tr>
      <td><%= product.name %></td>
      <td><%= truncate product.description %></td>
      <td><%= product.price %></td>
      <td><button class="js-more" data-id="<%= product.id%>">More Info</button></td>
    </tr>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $(".js-more").on("click", function() {
      var id = $(this).data("id");
      $.get("/products/" + id + "/description", function(description) {
        $.get("/products/" + id + "/inventory", function(inventory) {
          var inventoryText = "<strong>Available</strong>";
          if(inventory === "false"){
            inventoryText = "<strong>Sold Out</strong>";
          }
          var descriptionText = "<p>" + description + "</p><p>" + inventoryText + "</p>";
          $("#product-" + id).html(descriptionText);
        });
      });
    });
  });
</script>