<%@products.each do |product|%>
  <%=product.name%>
  <%=product.price%>
  <div id="product-<%= product.id %>"><%= truncate product.description %></div>
  <button class="js-more" data-id="<%= product.id %>">More Info</button>
<%end%>




<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    var id = $(this).data("id");
    $.get("/products/" + id + "/description", function(description) {
      $.get("/products/" + id + "/inventory", function(inventory) {
        var inventory_text = "Available";
          if(inventory === "false"){
            inventory_text = "Sold Out";
          }
        $("#product-" + id).html("<p>" + description + "<br>" + inventory_text + "</p>");
      });
    });
  });
});
</script>
