
<h2>Products</h2>
<%= link_to 'Add Product', new_product_path %>

<% @products.each do |p| %>
  <h3><%= p.name %></h3>
  <div id="desc-<%= p.id %>"><%= truncate p.description %></div>
 <div id="availability"></div>

  <button class="js-more" data-id="<%= p.id %>">More Info</button>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function () {
    var id = $(this).data("id");
    $.get("/products/" + id + "/description", function (data) {
      $("#desc-" + id).text(data);
    });

    // $("#availability")
  });
});
</script>