<% @products.each do |product| %>
  <div><%= product.name %></div><br>
  <div id="description-<%= product.id %>"><%= truncate(product.description) %></div><br>
  <div id="inventory-<%= product.id %>"></div><br>
  <button class="js-more" data-id="<%= product.id %>">More Info</button><br>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    var id = $(this).data("id");
    $.get("/products/" + id + "/description", function(data) {
      // Replace text of body-id div
      $("#description-" + id).text(data);
    });
    $.get("/products/" + id + "/inventory", function(data) {
      if (data === "true") {
        data = "Available"
      } else {
        data = "Sold Out"
      }
      $("#inventory-" + id).text(data);
    })
  });
});
</script>
