

<% @products.each do |product| %>
  
  <h2><%= product.name %> </h2>
  <div id="inventory-<%= product.id %>"> <%= product.inventory %> </div>
  <div id="description-<%= product.id %>"><%= truncate product.description %> </div>
  <button class="js-more" data-id="<%= product.id %>">More Info</button>

<% end %>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    // get the id from the data attribute
    var id = $(this).data("id");
    $.get("/products/" + id + "/inventory", function(inventory) {
      var inv = "Available";
      if (inventory === "false") { 
        inv = "Sold Out";
      }
      $("#inventory-" + id).text(inv);
    $.get("/products/" + id + "/description", function(data) {
      $("#description-" + id).text(data);
    });
  });
})});
</script>
