<% @products.each do |product| %>
  <h1><%= product.id %>: <%= product.name %> - $<%= product.price %></h1>
  <div id="description-<%= product.id %>">
    <%= truncate product.description %>
  </div>
  <div id="inventory-<%= product.id %>"></div>
  <button class="js-more" data-id="<%= product.id %>">More Info...</button>
  <br></br>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('.js-more').on('click', function () {
      var id = $(this).data('id');
      $.get("/products/" + id + "/description", function (description) {
        $('#description-' + id).text(description);
      });
      $.get("/products/" + id + "/inventory", function (inventory) {
        if (inventory === "true") {
          $('#inventory-' + id).text("Available")
        } else {
          $('#inventory-' + id).text("Sold Out")
        };
      });
    });
  });
</script>
