<h1>Prouducts Page</h1>
  <% @products.each do |product| %>
  <p>    <%=product.name %> <br>
    <div id="description-<%=product.id%>">
      <%= truncate( product.description) %> </p>
    </div>
    <div id="inventory-<%=product.id%>">
      inventory:
    </div>
<button type="button" data-id="<%=product.id%>" class="more-info">More Info</button>
  <% end %>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".more-info").on('click', function(event) {
    var id = $(this).data("id")

     $.get("http://localhost:3000/description/" + id).done(function(description) {
      $("#description-" + id).text(description)

      $.get("http://localhost:3000/inventory/" + id).done(function (inventory) {
        $("#inventory-" + id).append(inventory)
      })

    })
  }  )
})

</script>
