<h1> All Products: </h1>

<ul>
  <% @products.each do |product| %>
    <li>
      <strong> <%= product.id %>) <%= product.name%> </strong>
      <div id="body-<%= product.id %>">
        <p> <%= truncate product.description %> </p>
      </div>
      <div id="inv-<%= product.id %>">
        <p>   </p>
      </div>
      <button class="js-more" data-id="<%= product.id %>">More Info</button>
      <br>
      <br>

    </li>
  <% end %>
</ul>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $(".js-more").on('click', function() {
      let id = $(this).data("id");
      $.get(`/products/${id}/description`, function(description) {

        $.get(`/products/${id}/inventory`, function(invStatus) {
          let inv = "Available";
          if(invStatus === "false") {
            inv = "Sold Out";
          };

          let displayText = `<p> ${description} </p> <p> ${inv}`;
            $("#body-" + id).text(displayText);
          });
      };
    });
   });
  });

</script>
