<% @products.each do |product| %>
    <h1><%= product.id %>: <%= product.name %></h1>
    <div id="body-<%= product.id %>"><%= truncate product.description %></div>
    <button class="js-more" data-id="<%= product.id %>">More Info</button>
<% end %>


<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    let id = $(this).data("id");
    var description = $.get("/products/" + id + "/description", function(desc) {
      desc
    });
    var inventory = $.get("/products/" + id + "/inventory", function(inv) {
      inv
    });

    $.when(description, inventory).done(function(){
        var status = inventory.responseText == "true" ? "Available" : "Sold Out"
        $("#body-" + id).text(status + " - " + description.responseText)
    })
    
  });
});
</script>