<h1>All Products</h1>

<ul>
    <% @products.each do |product| %>
        <li>
            <strong><%= product.name %></strong>
            <br>
            <p id="desc-<%= product.id %>"><%= truncate product.description %></p>
            <br>
            <p id="inv-<%= product.id %>"></p>
            <button class="js-more" data-id="<%= product.id %>">More Info</button>
        </li>
    <% end %>
</ul>

<script type="text/javascript">
    $(function() {
        $(".js-more").on('click', function() {
            var id = $(this).data("id");

            $.get("/products/" + id + "/description", function(desc) {
                $("#desc-" + id).text(desc);
            });

            $.get("/products/" + id + "/inventory", function(inv) {
                if (inv == "false") {
                    $("#inv-" + id).text("Sold Out");
                } else {
                    $("#inv-" + id).text("Available");
                }
            })
        });
    });
</script>
