<%@products.each do |p|%>
<div class="info_body">
  <h3><%=p.name%></h3>
    <%if p.description%>
      <p class="body_<%=p.id%>"><%=p.description.truncate(25)%></p>
        <button class="button_body button_<%=p.id%>" data-id="<%=p.id%>">More Info</button>
        <p class="inventory_<%=p.id%>"></p><br>
    <%end%>
  </div>
<%end%>
<br>
<%=link_to("Create Product", new_product_path)%>

<script type="text/javascript">
$(function () {
  $(".button_body").on("click", function () {
    var id = $(this).data("id")
    $.get(`/products/${id}/description`, function (response_description) {
      var description = response_description
      $.get(`/products/${id}/inventory`, function (response_inventory) {
        var info = description
        var status = "Status: " + Inventory(response_inventory)
        $(".inventory_" + id).text(status)
        $(".body_" + id).text(info)
        $(".button_" + id).hide()
      })
    })
  })
})

function Inventory(response) {
  if (response === "false") {
    return "Sold Out"
  } else {
    return "Available"
  }
}
</script>
