<h1>Prouducts Page</h1>
  <% @products.each do |product| %>
  <p>    <%=product.name %> <br>
    <div id="description-<%=product.id%>">
      <%= truncate( product.description) %> </p>
    </div>
    <div id="inventory-<%=product.id%>">
      inventory:
    </div>
<button type="button" data-id="<%=product.id%>" class="js-more">More Info</button>
  <% end %>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on('click', function(event) {
    var id = $(this).data("id")

     $.get("http://localhost:3000/products/" + id + "/description").done(function(description) {
      $("#description-" + id).html(description)

      $.get("http://localhost:3000/products/" + id + "/inventory").done(function (inventory) {
        if (inventory === "true") {
          $("#inventory-" + id).append("Available")
        }
        else {
          $("#inventory-" + id).append("Sold Out")
        }
      })

    })
  }  )
})

</script>
