<% @products.each do |product| %>
<%= product.name %>
<% if product.inventory != nil && product.inventory > 0 %> 
		<%=render plain: "Available"%>
<%else%>
		<%=render plain: "Sold Out"%>
<%end%>

<div id="product-<%= product.id %>">
<button class="js-more" data-id="<%= product.id %>">More Info</button>
</div>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    var id = $(this).data("id");
    $.get("/products/" + id + "/description", function(data) {
      // Replace text of body-id div
      $("#product-" + id).text(data);
    });
  });
});
</script>



