<h1>Products</h1>
<ul>
<% @products.each do |product| %>
  <li>
    <h3><%= product.name %></h3>
    <div id="description-<%= product.id %>"><%= truncate product.description %></div>
    <div id="inventory-<%= product.id %>"></div>
    <button class="js-more" data-id="<%= product.id %>">More Info</button>
<% end %>
</ul>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    // get the id from the data attribute
    var id = $(this).data("id");
    $.get("/products/" + id + "/inventory", function(data) {
      var status;
      status = data == "true" ? "Available" : "Sold Out";     
      $("#inventory-" + id).text(status);
    });
    $.get("/products/" + id + "/description", function(data) {
      $("#description-" + id).text(data);
    });
  });
});
</script>