<% @products.each do |product| %>
  <%#= render partial: "product", locals: {product: product} %>
  <h1><%= product.id %>: <%= product.name %></h2>
  <div id="body-<%= product.id %>"><%= truncate(product.description, lenght: 5) %></div>

  <button class="js-more" data-id="<%= product.id %>">More Info</button>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    var id = $(this).data("id");
    $.get("/products/" + id + "/description", function(data) {
      $("#body-" + id).text(data);
    });
    $.get("/products/" + id + "/inventory", function(data) {
      if(data === "true") {
      	$("#body-" + id).append("<p>Available</p>");
      } else {
        $("#body-" + id).append("<p>Sold Out</p>");
      }
    });
  });
});
</script>
