
<% @products.each do |prod| %>
<% #binding.pry%>
  <h1> <%= prod.name %> </h1>
  <%= truncate prod.description %>



  Product Description: <div id="description-<%=prod.id%>"></div>
  <button class="js-more" data-id="<%=prod.id%>">More Info</button><br>
  <!-- when adding multiple buttons an id isnt appropriate.  -->

  Product Status: <div id="inventory-<%=prod.id%>"></div>
<% end %>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<!--
REMEMBER:
- LOAD jquery
- CHECK CSS SELECTORS
- OPEN AND CLOSE SCRIPTS -->
<script type="text/javascript" charset="utf-8">
  $(function(){
    $(".js-more").on("click", function(){
      // grab the id of the specific product from info stored in the button
      console.log("hello")
      var id = $(this).data("id");
      //debugger;
      // make ajax request to our API endpoint which holds plain text of the description
      $.get("/products/" + id + "/description", function(desc){

        // append the description to the specific html div with id = body-product-id
        $("#description-" + id).text(desc);
      })
      // make ajax request to our API endpoint which should return "true" or "false" as plain text
      $.get("/products/" + id + "/inventory", function(boolean){
        //debugger
        // append "Available or Sold Out depending on what the inventory returns"
        if (boolean === "true"){
          $("#inventory-" + id ).text("Available");
        } else {
          $("#inventory-" + id).text("Sold Out");
        }
      })
    })
  })
</script>
