<% @products.each do |product| %>
  <h1><%= product.id %>: <%= product.name %></h1>
  <div id="body-<%= product.id %>"><%= truncate product.description %></div>
  <button class="js-more" data-id="<%=product.id%>">More Info</button>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    var id = $(this).data("id");
    $.get("/products/" + id + "/description", function(data) {
      // Replace text of body-id div
      $.get("/products/" + id + "/inventory", function(data_i) {
        var response = "Available";
        if (data_i == "false") {
          response = "Sold Out";
        }
        $("#body-" + id).text(data + " " + response);
      });
    });

  });
});
</script>
