<% @products.each do |prod| %>
<%= prod.name %><br>
<div id="description-<%= prod.id %>"><%= truncate prod.description %></div><br>
<div id="inventory-<%= prod.id %>"><%=  %></div><br>

<button class="js-more" data-id="<%= prod.id %>">More Info</button>
<% end %>


<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    var id = $(this).data("id");
    $.get("/products/" + id + "/description", function(data) {
      $("#description-" + id).text(data);
    });
    $.get("/products/" + id + "/inventory", function(data) {
      if (data === "true") {
        $("#inventory-" + id).text("Available");
      } else {
        $("#inventory-" + id).text("Sold Out");
      };


    });
  });
});
</script>
