<% @products.each do |product| %>
  <h1><%= product.id %>: <%= product.name %></h1>
  <div id="description-<%= product.id %>"><%= truncate product.description %></div>
  <div id="inventory-<%= product.id %>"></div>

  <button class="js-more" data-id="<%= product.id %>">More Info</button>
<% end %>

<script>
  $(function() {
    $(".js-more").on("click", function() {
      var id = $(this).data("id");
      $.get("/products/" + id + "/description", function(data) {
        $("#description-" + id).text(data);
      });
      $.get("/products/" + id + "/inventory", function(data) {
        if (data == "true") {
          $("#inventory-" + id).text("Available");
        } else {
          $("#inventory-" + id).text("Sold Out");
        }
      })
    })
  })
</script>
