<h1>Products</h1>
<% @products.each do |product| %>
<hr>
<div id="product-<%= product.id %>"></div>
	<h3><%= product.id %>:<%= link_to product.name, product_path(product) %></h3>
	<p><%= truncate(product.description) %></p>
	<div class="product-<%= product.id %>"></div>
		<button class="js-more" data-id="<%= product.id %>">More Info</button>
	</div>
<% end %>