<% @products.each do |product| %>

<div id="product-<%=product.id%>"><%= product.name %>
<%= truncate product.description %></div>

<<<<<<< HEAD
<button class="js-more" data-id="<%=product.id %>">More Info</button>
=======
<button class="js-more" data-id="<%=product.id %>">More!</button>
>>>>>>> fbed6bde8f61a5ee87ff00301bd4f7b5900a5bbb

<% end %>


<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
<<<<<<< HEAD
    let id = $(this).data("id");
    $.get("/products/" + id + "/description", function(data) {
      $("#product-" + id).text(data)
=======
    // get the id from the data attribute
    let id = $(this).data("id");
    $.get("/posts/" + id + "/body", function(data) {
$("#body-" + id).text(data)
>>>>>>> fbed6bde8f61a5ee87ff00301bd4f7b5900a5bbb
    });
  });
});
</script>
