<h1>Products</h1>
<ul>
	<% @products.each do |product|%>
	<li>
		Name: <%= product.name %> <br>
		Description: <div id="desc-<%= product.id %>"><%= truncate product.description %></div>
		<div id="avail-<%= product.id %>"></div>
		<button class="js-more" data-id="<%=product.id%>">More Info</button>
	</li>
	<% end %>
</ul>


<script type="text/javascript" charset="utf-8">
	//REMEMBER PHANTOMJS DOESNT SUPPORT ES6, meaning no let and no ternarys
	//synonymous $document.ready(handler)
	$(function () {
	  $(".js-more").on("click", function() {
	    var id = $(this).data("id");

	    $.get("/products/"+ id + "/description", function(data) {
	    	$("#desc-" + id).html(data);
	    });

	    $.get("/products/"+ id + "/inventory", function(data) {
	    	var inventory = "Sold Out";
	    	if (data === "true") inventory = "Available";
	    	$("#avail-" + id).html(inventory);	
    	});
	  });
	});


</script>
