
<h2>Products</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Inventory</th>
  </tr>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.price %></td>
      <td id="body-<%= product.id %>"><%= truncate product.description %><button class="js-more" data-id="<%= product.id %>">More Info</button></td>
      <td id="inv-<%= product.id %>"></td>
    </tr>
  <% end %>
</table>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on('click', function() {
    var id = $(this).data("id");
    $.get("/products/" + id + "/description", function(data) {
      $("#body-" + id).text(data);
    });
    $.get("/products/" + id + "/inventory", function(data) {
      if (data === "true") {
        $("#inv-" + id).text("Available");
      } else {
        $("#inv-" + id).text("Sold Out");
      };
    });
  });
});
</script>
