
<h1>step one complete </h1>


<ul>
  <% @products.each do |product| %>

    <h1><%= product.id %>: <%= product.name %></h2>
      <div id="body-<%= product.id %>">description: <%= truncate product.description %></div>
    <div id="inventory-<%= product.id %>"></div>

    <button class="js-more" data-id="<%= product.id %>">More Info...</button>
  <% end %>
</ul>


<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {

    var id = $(this).data("id");
    $.get("/products/" + id + "/description", function(data) {

      // Replace text of body-id div
      $("#body-" + id).text(data);
    });
    $.get("/products/" + id + "/inventory", function(data) {

      if (data == 'true'){
        $("#inventory-" + id).text("Available");
      }else{
        $("#inventory-" + id).text("Sold Out");
      }
    });
  });
});
</script>
