<% @products.each do |product| %>
    <h3> <%= product.name %></h3> <br>
    <div id="description-<%= product.id %>"><%= truncate(product.description) %></div> <br>
    <div id="inventory-<%= product.id %>"> <br>
    <button class="js-more" data-id="<%= product.id %>">More Info</button>
<br>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {

    var id = $(this).data("id");
    $.get("/products/" + id + "/description", function(data) {
      $("#description-" + id).text(data)
    })
    $.get('/products/' + id + '/inventory', function(data) {
      if (data === 'true') {
        $("#inventory-" + id).text("Available")
      } else if (data === 'false') {
        $("#inventory-" + id).text("Sold Out")
      }
    });
  });
});
</script>
