<% @products.each do |product| %>
        <h5><%= product.name %></h5>
        <div id="desc-<%= product.id %>"><%= truncate product.description %></div>
        <div id="inv-<%= product.id %>"></div>
        <button class="js-more" data-id="<%= product.id %>">More Info</button>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    var id = $(this).data("id");

    $.get("/products/" + id + "/description", function(data) {
      $("#desc-" + id).text(data);
    });

    $.get("/products/" + id + "/inventory", function(data) {
        if(data === "true") {
            $("#inv-" + id).text("Available");
        } else {
            $("#inv-" + id).text("Sold Out");
        }

    });
  });
});
</script>