<% @products.each do |product| %>
<li>
  <%= product.id %>
  <div>
    <%= product.name %>
  </div>
  <div id="body-<%= product.id %>">
    <%= truncate product.description %>
  </div>
<div id="inventory-<%= product.id %>"></div>
 <br>
  <button class="js-more" data-id="<%= product.id %>">More Info</button>
</li>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    // get the id from the data attribute
    var id = $(this).data("id");
    $.get("/products/" + id + "/description", function(data) {
      $("#body-" + id).text(data);
    });
    $.get("/products/" + id + "/inventory", function(data) {
      if (data === "false"){
        $("#inventory-" + id).text("Sold Out");
      }
        else {
          $("#inventory-" + id).text("Available");
        }
    });
  });
});
</script>
