<% @products.each do |p| %>
  <h1><%= p.id %>: <%= p.name %></h1>
  <div id="body-<%= p.id %>"><%= truncate p.description %></div>

  <button class="js-more" data-id="<%= p.id %>">More Info</button>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-more").on('click', function() {
    var id = $(this).data("id");
    $.get("/products/" + id + "/description", function(data) {
      $("#body-" + id).text(data);
    });
    $.get("/products/" + id + "/inventory", function(data) {
      if(data === "true") {
        $("#body-" + id).append("<p>Available</p>");
      } else {
        $("#body-" + id).append("<p>Sold Out</p>");
      }
    });
  });
});
</script>