<%= form_for(@product) do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <%= f.label :description %><br>
    <%= f.text_area :description %>

    <%= f.submit %><br>
  </div>

<% end %>
