<h1>Create a New Product</h1>

<%= form_for @product do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <%= f.label :price %><br>
  <%= f.number_field :price %><br>
  <%= f.label :description %><br>
  <%= f.text_field :description %><br>
  <%= f.label :inventory %><br>
  <%= f.number_field :inventory %><br>
  <%= f.submit %>
<% end %>
