<h1>New Product</h1>

<%= form_for @product do |f| %>
    <div class = "labeled-form-field"> 
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>

    <div class = "labeled-form-field">
        <%= f.label :price %>
        <%= f.number_field :price %>
    </div>

    <div class = "labeled-form-field">
        <%= f.label :description %>
        <%= f.text_area :description %>
    </div>

    <div class = "labeled-form-field">
        <%= f.label :inventory %>
        <%= f.number_field :inventory %>
    </div>

    <%= f.submit %>
<% end %>