<h1>New Product</h1>

<%= form_for @product do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br><br>

  <%= f.label :description %>
  <%= f.text_field :description %><br><br>

  <%= f.price :price %>
  <%= f.text_field :price %><br><br>

  <%= f.label :inventory %>
  <%= f.text_field :inventory %><br><br>

  <%= f.submit "submit" %>
  <% end %> 
