<h2>Add New Product</h2>

<%= form_for @product do |f| %>
<%= f.label :name %>
<%= f.text_field :name %><br>
<%= f.label :price %>
<%= f.text_field :price %><br>
<%= f.label :description %>
<%= f.text_area :description %><br>
<%= f.label :inventory %>
<%= f.text_field :inventory %><br>
<%= f.submit %> <!--Will say Create Product on button. Put something else in quotes if want different-->

<% end %>
