<h1>Create a New Product</h1>

<%= form_for @product do |f| %>
  Name: <%= f.text_field :name %><br />
  Price: <%= f.number_field :price, :step => 0.01 %><br />
  Inventory Total: <%= f.number_field :inventory %><br />
  Description: <%= f.text_field :description %><br />
  <%= f.submit %>
<% end %>
