<h3>New Product</h3>

<%= form_for @product do |f| %>
	<%= f.label :name %><br>
	<%= f.text_field :name %><br>

	<%= f.label :price %><br>
	<%= f.number_field :price %><br>

	<%= f.label :description %><br>
	<%= f.text_field :description %><br>

	<%= f.submit %>
<% end %>