<%= form_for(@product) do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>

  <div class="field">
    <%= f.label :inventory %><br>
    <%= f.number_field :inventory %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
