
<%=form_for @product do |f|%>
<p>name:<%=f.text_field :name%></p>
<p>Description:<%=f.text_field :description%></p>
<p>price:<%=f.text_field :price%></p>
<p>inventory:<%=f.text_field :inventory%></p>
<%=f.submit%>
<%end%>
