<h3>Add a new product</h3>
<%= form_for @product do |f| %>
  Name: <%= f.text_field :name %><br><br>
  Price: <%= f.text_field :price %><br><br>
  Description: <%= f.text_area :description %><br><br>
  Inventory: <%= f.text_field :inventory %><br><br>
  <%= f.submit %>
<% end %>
