<%= form_for @product do |form| %>


  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :product_name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :product_price %>
  </div>

  <div class="field">
    <%= form.label :inventory %>
    <%= form.text_field :inventory, id: :product_inventory %>
  </div>

  <div class="field">
    <%= form.label :description %><br>
    <%= form.text_area :description, id: :park_description, cols: 40, rows: 15 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
