<%= form_for @product do |f| %>
  <p>Name: <%= f.text_field :name %></p>
  <p>Price: <%= f.text_field :price %></p>
  Description: <p><%= f.text_area :description %></p>
  <p>Inventory: <%= f.number_field :inventory %></p>

  <p><%= f.submit %>
<% end %>
