
<%=form_for (@product) do |f| %>
    <div>
    <%= f.label :name %>:
    <%= f.text_field :name %>
    </div>
    <div>
    <%= f.label :price %>:
    <%= f.text_field :price %>
    </div>
    <div>
    <%= f.label :inventory %>:
    <%= f.number_field :inventory %>
    </div>
    <div>
    <%= f.label :description %>:
    <%= f.text_area :description %>
    </div>
    <%= f.submit %>
<% end %>