<h1>Create a Product</h1>
<%= form_for @product do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :price %>
  <%= f.text_field :price %>
  <%= f.label :inventory %>
  <%= f.text_field :price %><br>
  <%= f.label :description %><br>
  <%= f.text_area :description %>

  <%= f.submit %>
<% end %>
