<h1>Add a New Product</h1>
<%= form_for :product, :url => products_path do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :price %>
  <%= f.number_field :price %><br>
  <%= f.label :description %>
  <%= f.text_field :description %><br>
  <%= f.label :inventory %>
  <%= f.number_field :inventory %><br>
  <%= f.submit %>
<% end %>
