<h3>New Product Form</h3>

<%= form_for(@product) do |f| %>
  <label>Name:</label><br>
  <%= f.text_field :name %><br>

  <label>Price:</label><br>
  <%= f.text_field :price %><br>

  <label>Description</label><br>
  <%= f.text_area :description %><br>

  <label>Inventory:</label><br>
  <%= f.text_field :inventory %><br>

  <%= f.submit %>
<% end %>
