<h1>Show Product</h1>
<<<<<<< HEAD
name:<%= @product.name %>
  <br />
price:<%= @product.price %>
  <br />
description:<%= @product.description %>
  <br />
inventory: <%= @product.inventory %>
   
=======
 
<p>name: <%= @product.name %></p>

<p>price: <%= @product.price %></p>

<p>description: <%= @product.description %></p>

<p>inventory: <%= @product.inventory %></p>
>>>>>>> 443ac024a8933692eddc29e4fef18f0f5b8994da
